.DS_Store

/.build
/Packages
/*.xcodeproj
__pycache__
Netlists
/iverilog*/
/Atalanta*/
/podem*/
/Testbench*/
/DerivedData
/venv

*.out
*.vcd
/*.py
/*.sv
/*.v
/*.log

*.json
*.bench
*.test
*.log
*.vvp
parsetab.py